{% extends 'home/base.html' %}
{% load static %}
{% block title %} EasyPortfolios-Login{% endblock %}
{% block login %}{% endblock %}
{% block logout %}{% endblock %}




{% block content %}
    <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <h2>Login to EasyPortfolios</h2>
    </div>
    </div>
    <form action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" id="name" required>
        </div>
    </div>
        <br><br>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="name" required>
        </div>
    </div>
        <br><br>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 button">
            <input type="submit" value="Login" >
{#            <div class="button btn btn-info" type="submit">Login</div>#}
        </div>
    </div>



    </form><br><br>
    <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <p class="pa">If you do not have an account, <a href="/signup">register</a> instead.</p>
    </div>
    </div>



{% endblock %}