{% extends 'home/base.html' %}
{% load static %}
{% block signup %}{% endblock %}
{% block logout %}{% endblock %}
{% block title %} EasyPortfolios-Registaration{% endblock %}


{% block content %}
    <h2>Signup with EasyPortfolios</h2>
    <form action="" method="post">

    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <label for="name">Firstname</label>
                  <input type="text" name="first_name" class="form-control" id="name" required>
        </div>
        <div class="col-md-6">
            <label for="name">Lastname</label>
                  <input type="text" name="last_name" class="form-control" id="name" required>
        </div>

    </div>
        <br><br>
    <div class="row">
        <div class="col-md-6">
            <label for="name">Email Address</label>
                  <input type="email" name="email" class="form-control" id="name" required>
        </div>
        <div class="col-md-6">
            <label for="name">Username</label>
                  <input type="text" name="username" class="form-control" id="name" required>
        </div>
    </div>
        <br><br>
    <div class="row">
        <div class="col-md-6">
            <label for="name">Password</label>
                  <input type="password" name="password" class="form-control" id="name" required>
        </div>
        <div class="col-md-6">
            <label for="name">Confirm password</label>
                  <input type="password" name="confirm_password" class="form-control" id="name" required>
        </div>
    </div>
        <br><br>
    <input type="submit" value="Register" >



    </form><br>
    <p class="pa">If you already have an account, <a href="/login">login</a> instead.</p>


{% endblock %}